// TODO: 一括でimportしたい

// color
$color-default: #222;
$color-white: #fff;
$color-subtext: #888;
$color-border: #d9d9d9;
$color-border-dark: #707070;
$color-th: #f4f4ee;
$color-is-today: #ef3434;
$color-temperature-high: #f53939;
$color-temperature-low: #0097ff;
$color-error-msg: #de133c;
$color-green: #256c14;
$color-orange: #fe732b;
$color-google-blue: #4285f4;
$color-active-orange: #fdd9cd57;
// font
$font-size-default: 14px;
$font-size-large: 16px;
$font-size-small: 12px;
