// TODO: 一括でimportしたい

// color
$color-default: #222;
$color-subtext: #888;
$color-border: #d9d9d9;
$color-th: #f4f4ee;
$color-is-today: #ef3434;
$color-temperature-high: #f53939;
$color-temperature-low: #0097ff;

// font
$font-size-default: 14px;
// TODO: デザイン確認中なので暫定のため変わる可能性あり
$font-size-large: 16px;
$font-size-small: 12px;
