// 独自スタイルを作成するためのファイル
@import '@/assets/scss/_variables.scss';

body {
  // iPhoneX対応
  height: 100vh;
  font-size: $font-size-default;
}

/* ----------
 table
---------- */
table {
  border-collapse: collapse;

  th,
  td {
    padding: 7px;
    font-weight: normal;
    border: 1px solid $color-border;
  }
}

.th {
  text-align: center;
  background: $color-th;
}

/* ----------
 form
---------- */
.input-error-msg {
  padding-top: 12px;
  font-weight: 300;
  line-height: 1;
  color: $color-error-msg;
  text-align: center;
}
