<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851322130660-f85plnag26p9upnkknelvkm891cirkbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851322130660-f85plnag26p9upnkknelvkm891cirkbb</string>
	<key>API_KEY</key>
	<string>AIzaSyAc4H89WGCEvj14shKipdNhKtMCmSW9jSA</string>
	<key>GCM_SENDER_ID</key>
	<string>851322130660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.rights.alink.golftenki.dev</string>
	<key>PROJECT_ID</key>
	<string>alinkgolfweather</string>
	<key>STORAGE_BUCKET</key>
	<string>alinkgolfweather.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851322130660:ios:1963a8bd12f5479aae1cf1</string>
</dict>
</plist>