/* ----------
 onsenUIのカスタマイズの中でも
 ビジュアルに関わるもの
 ---------- */
@import '@/assets/scss/_variables.scss';

/* ----------
 Carousel
---------- */

/* ----------
 Control
---------- */
$segment-height: 34px;

.segment {
  &__button {
    height: $segment-height;
    line-height: $segment-height;
  }

  &__item:first-child > .segment__button {
    border-top-left-radius: $segment-height / 2;
    border-bottom-left-radius: $segment-height / 2;
  }

  &__item:last-child > .segment__button {
    border-top-right-radius: $segment-height / 2;
    border-bottom-right-radius: $segment-height / 2;
  }
}

/* ----------
 Dialog
---------- */
$alert-dialog-radius: 8px;

.alert-dialog {
  width: 90%;
  max-width: 335px;
}

.alert-dialog-title {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: 15px 20px;
  margin-top: -16px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  background: #d3f0ff;
  border-top-left-radius: $alert-dialog-radius;
  border-top-right-radius: $alert-dialog-radius;
}

.alert-dialog-footer {
  box-sizing: border-box;
  justify-content: center;
  padding: 17px 0;
  text-align: center;
}

/* ----------
 Form
---------- */
$button-height: 44px;
$button-height--rounded: 36px;

.button {
  min-width: $button-height;
  height: $button-height;
  font-size: $font-size-default;
  font-weight: 600;
  line-height: 36px;
  border-radius: 4px;

  &--large--quiet {
    color: inherit;
  }

  &--quiet {
    font-size: $font-size-default;
  }

  &--quiet-dark {
    color: inherit;
  }

  &--cta {
    font-size: $font-size-default;
  }

  &--rounded {
    min-width: $button-height--rounded;
    height: $button-height--rounded;
    line-height: 28px;
    border-radius: 18px;
  }

  .alert-dialog-footer & {
    min-width: 140px;
  }
}

.text-input,
.select-input {
  padding: 0 5px;
  border: 2px solid #d9d9d9;
}

/* ----------
 Grid
---------- */

/* ----------
 List
---------- */

/* ----------
 Menu
---------- */

/* ----------
 Navigator
---------- */

/* ----------
 Page
---------- */
.page__background {
  background-image: url('~@/assets/images/background.jpg');
  background-position: center;
  background-size: cover;
}

/* ----------
 Tabbar
---------- */

/* ----------
 Visual
---------- */
.card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: none;
}
