/* ----------
 onsenUIのカスタマイズの中でも
 ビジュアルに関わるもの
 ---------- */
@import './fonts.scss';
@import '@/assets/scss/_variables.scss';

/* ----------
 Carousel
---------- */

/* ----------
 Control
---------- */
$segment-height: 34px;

.segment {
  &__button {
    height: $segment-height;
    font-weight: 600;
    line-height: $segment-height - 1px;
    border-width: 2px !important;
  }

  &__item:first-child > .segment__button {
    border-top-left-radius: $segment-height / 2;
    border-bottom-left-radius: $segment-height / 2;
  }

  &__item:last-child > .segment__button {
    border-top-right-radius: $segment-height / 2;
    border-bottom-right-radius: $segment-height / 2;
  }
}

/* ----------
 Dialog
---------- */
$alert-dialog-radius: 8px;

.alert-dialog {
  width: 90%;
  max-width: 335px;
}

.alert-dialog-title {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: 15px 20px;
  margin-top: -16px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #c83200;
  border-top-left-radius: $alert-dialog-radius;
  border-top-right-radius: $alert-dialog-radius;
}

.alert-dialog-content {
  text-align: left;
}

.alert-dialog-footer {
  box-sizing: border-box;
  justify-content: center;
  padding: 17px 0;
  text-align: center;
}

.alert-dialog-close-btn {
  position: absolute;
  top: -12px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: #191818;
  border-radius: 50%;

  &::before {
    line-height: 0;
    content: url('~@/assets/images/cross.png');
  }
}

.custom-edit-alert-dialog {
  margin-top: -200px;

  .alert-dialog {
    background: none;
    border-radius: 0;
  }

  .alert-dialog-title {
    display: none !important;
  }

  .alert-dialog-content {
    background: $color-white;
    border: 1px solid $color-border-dark;

    .textarea_dialog {
      width: 98%;
      height: 150px;
      resize: none;
      border: none;
    }
  }
}

/* ----------
 Form
---------- */
$button-height: 44px;
$button-height--rounded: 36px;

.button {
  min-width: $button-height;
  height: $button-height;
  font-size: $font-size-default;
  font-weight: 600;
  line-height: 36px;
  border-radius: 4px;

  &--large--quiet {
    color: inherit;
  }

  &--quiet {
    font-size: $font-size-default;
  }

  &--quiet-dark {
    color: $color-default;
  }

  &--cta {
    font-size: $font-size-default;
  }

  &--rounded {
    min-width: $button-height--rounded;
    height: $button-height--rounded;
    line-height: 28px;
    border-radius: 18px;
  }

  &--add {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      content: '';
      background-image: url('~@/assets/images/plus.png');
      background-position: center;
      background-size: 100%;
    }
  }

  &--white {
    height: 26px;
    padding: 6px 30px;
    font-weight: 300;
    line-height: 1;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
  }

  &--orange {
    background-color: #ff980b;
  }

  &--yellow {
    background-color: #ff980b !important;
  }

  &--red {
    background-color: #a82e05;
  }

  &--search {
    display: inline-flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    width: 200px;

    &__description {
      margin-top: 20px;
      margin-bottom: 150px;
    }
  }

  &--more {
    display: inline-flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    width: 200px;

    &__description {
      margin-top: 10px;
    }
  }

  &--search-day {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 6px;
      content: '';
      background-image: url("~@/assets/images/form/icon-day.png");
      background-position: center;
      background-size: 100%;
    }

    &__description {
      margin-top: 20px;
      margin-bottom: 150px;
    }
  }

  .alert-dialog-footer & {
    min-width: 140px;
  }

  &--edit-dialog {
    min-width: 190px !important;
    border-radius: 20px;
  }
}

.text-input,
.select-input,
.textarea-input {
  padding: 0 5px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #d9d9d9;
}

.search-input {
  height: 44px;
  padding-left: 47px;
  font-size: 16px;
  background-image: url('~@/assets/images/form/search.png');
  background-position: 14px center;
  background-size: 18px;
  border-radius: 10px;
}

.textarea-input {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
}

.switch {
  width: 38px;
  min-width: 38px;

  &__toggle {
    top: 6px;
    bottom: 6px;
  }

  &__handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 4px rgba(0, 0, 0, 0.25);
  }
}

/* ----------
 Customize Icon
---------- */
.icon-add {
  width: 24px;
  height: 24px;
}

/* ----------
 Grid
---------- */

/* ----------
 List
---------- */
.list-item {
  padding-left: 7px;

  &--chevron::before {
    right: 5px !important;
  }
}

/* ----------
 Menu
---------- */

/* ----------
 Navigator
---------- */

/* ----------
 Page
---------- */
.page__background {
  background-image: url('~@/assets/images/background.png');
  background-position: center;
  background-size: cover;
}

/* ----------
 Tabbar
---------- */

/* ----------
 Visual
---------- */
.card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: none;

  &[fullscreen] {
    height: calc(100% - 40px);
    overflow: auto;
  }

  &__title {
    font-size: $font-size-large;
    font-weight: 600;
    color: $color-subtext;

    &--center {
      text-align: center;
    }
  }
}
